APP_NAME=AI Business OS Core
APP_VERSION=0.1.0
ENVIRONMENT=development
DEBUG=true
API_V1_PREFIX=/api/v1
STORAGE_BACKEND=postgres
SQLITE_PATH=:memory:
POSTGRES_DSN=postgresql://postgres:postgres@localhost:5432/ai_business_os
SMARTUP_BASE_URL=https://smartup.online
SMARTUP_COMPANY_ID=11300
SMARTUP_PROJECT_CODE=trade
SMARTUP_LANG_CODE=ru
SMARTUP_USERNAME=
SMARTUP_PASSWORD=
SMARTUP_ORGANIZATIONS=[{"name":"Администрация","company_id":"11300","filial_id":"14475622","project_code":"trade"},{"name":"MODAILY","company_id":"11300","filial_id":"16114091","project_code":"trade"},{"name":"MODAILY ANDIJON","company_id":"11300","filial_id":"19392290","project_code":"trade"},{"name":"MODAILY NAMANGAN","company_id":"11300","filial_id":"19365400","project_code":"trade"},{"name":"MODAILY QOQON VA FARGONA","company_id":"11300","filial_id":"19330532","project_code":"trade"},{"name":"MODAILY SURXANDARYO","company_id":"11300","filial_id":"19448306","project_code":"trade"},{"name":"SAMO SERVIS","company_id":"11300","filial_id":"14479324","project_code":"trade"}]
